fastapi
uvicorn
python-dotenv
langchain-huggingface
langchain-qdrant
langchain-text-splitters
qdrant-client
sentence-transformers
pypdf

langchain
langchain-community

groq

qdrant-client

pypdf

sentence-transformers

tiktoken