fastapi
uvicorn

sqlalchemy
pydantic
email-validator

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-multipart

groq

langchain
langchain-community
langchain-core

sentence-transformers
faiss-cpu

python-dotenv

pymupdf
pytesseract
opencv-python
pdf2image
Pillow

numpy
requests