fastapi
uvicorn
python-dotenv

sqlalchemy

passlib[bcrypt]
python-jose[cryptography]

langchain
langchain-community
langchain-huggingface
langchain-qdrant
langchain-text-splitters

qdrant-client
sentence-transformers
pypdf
tiktoken

groq

pytesseract
pdf2image
PyMuPDF
opencv-python-headless
Pillow

python-multipart